<section id="home" class="slider" data-stellar-background-ratio="0.5">
    <div class="row">

              <div class="owl-theme">
                   <div class="item item-third">
                        <div class="caption">
                             <div class="container">
                                  <div class="col-md-8 col-sm-12">
                                      <h1>ADD COURSE</h1>
                                  </div>
                             </div>
                        </div>
                   </div>

                  
              </div>

    </div>
</section>


  
  <div class="container start">
    <div class="row">
      
      <div class="col-md-12"> 
        
        <div class="panel form">
          <div class="panel-body">
            
            
            
            
            <div>
                <form method="post" (ngSubmit)="addCourse()">
              
                  <div class="row">
                    <div class="col-md-12">
                      <div class="form-group">
                        <label for="first" style="color: white;">Course Name</label>
                        <input type="text" [(ngModel)]="course.name" class="form-control" placeholder="Name of course" id="cname" name="name" required>
                      </div>
                    </div>
                  </div>
              
              
                  <div class="row">
              
              
                    <div class="col-md-12">
              
                      <div class="form-group">
                        <label for="text" style="color: white;">Course Details</label>
                        <input type="text" [(ngModel)]="course.details" class="form-control" id="details" required placeholder="Enter details of Course" name="details">
                      </div>

                      <div class="form-group">
                        <label for="text" style="color: white;">Course Fee</label>
                        <input type="text" [(ngModel)]="course.price" class="form-control" id="details" required placeholder="Enter price of Course" name="price">
                      </div>

                      <div class="form-group">
                        <label for="text" style="color: white;">Eligibility</label>
                        <input type="text" [(ngModel)]="course.eligibility" class="form-control" id="details" required placeholder="Enter the Eligibility" name="eligibility">
                      </div>
                    </div>
              
                   
              
                  </div>
              
              
                 
                  <div style="padding-top: 5px;">
                    <!-- <button type="submit" class="btn btn-primary">Add Course</button> -->
                    <div class="col-md-4"><br>
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<button type="submit" class="btn btn-warning" >&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;SUBMIT <span class="glyphicon glyphicon-send"></span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</button>
                      </div>
                    <button type="reset" class="btn btn-secondary">Reset</button>
                  </div>
                </form>
              </div>
            
            
            
          
            
          </div>
        </div>
                                                                                         
                                                      
                                                        
         </div>
    </div>
  </div>
                                                  
                                                                                  

  
  
   





   